<!doctype html>
<html>
<head>
  <title>GamePage!</title>
</head>
<body>
    
    <h1>Welcome to the game!</h1>

    <form action="/madlib">
        <br/>
    Choose a color?
    <select name="color">
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
    </select>
    <br/>
    Choose a character?
    <select name = "char">
        <option value = "jack">"Jack"</option>
        <option value = "kate">"Kate"</option>
        <option value = "amy">"Amy"</option>
    </select>

    <br/>
    
    Choose a noun?
    <select name="noun">
        <option value="book">book</option>
        <option  value="cup">cup</option>
        <option value="plant">plant</option>
    </select>

    <br/>

    Choose a adjective?
    <select name="adjective">
        <option value="hilarious">hilarious</option>
        <option  value="crazy">crazy</option>
        <option value="cute">cute</option>
    </select>

    <br/>

    <input type="submit">
    </form>

</body>
</html>